body {
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animated-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.rotate {
    background: #3498db;
}

    .rotate:hover {
        transform: rotate(360deg);
    }

.heartbeat {
    background: #ff6b6b;
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.border-expand {
    background: #2980b9;
    overflow: hidden;
}

    .border-expand::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        border: 2px solid #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.5s, opacity 0.5s;
    }

    .border-expand:hover::before {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
h1
{
    text-align : center;
    background-color: red;
}
p
{
    font-family: 'Comic Sans MS';
    font-style: italic;
    color: orange;
}

h2
{
    font-family: Papyrus;
    font-style: italic;
    color: green;
}

#para_1
{
    font-style: italic;
    color: green;
}
